body {
    background-color: #FF4500; /* Warna Merah Jeruk */
    font-family: Arial, sans-serif; /* Jenis huruf yang bersih dan mudah dibaca */
    color: #191970; /* Warna teks utama (Biru Gelap) */
}
